path {
  opacity: 0.8;
}

path:hover {
  opacity: 1;
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: lightgray;
  stroke: darkgray;
  cursor: pointer;
}

.feature.active {
  fill: steelblue;
}

.map-header, .map-data-header, .map-view-select {
  display: flex;
  align-items: center;
}

.map-header, .map-data-header {
  justify-content: space-between;
}

.view-toggle {
  background-color: white;
}

.view-toggle.active {
  background-color: blue;
}


/* 3d map ------------------------*/
#globe {
  cursor: move;
  margin-left: auto;
  margin-right: auto;
}

#map3d-header{
  position: absolute;
  color: black;
}

/* -------- */
